
        .section {
            height: 100vh;
            display: flex;
            align-items: center;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-color: lightgrey;
            
        }
        
        #navbar-example2 {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            color: #050505;
         
          
        }